/* Шрифты, цвет текста, кнопок */

:root {
    --accent-font: "Playfair Display", "Arial", sans-serif;
    --main-font: "Montserrat", "Arial", sans-serif;

    --main-text-color: #AE7C78;
    --contrast-text-color: #ffffff;

    --button-color: #D89999;
}

/* Global */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    display: inline-block;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--contrast-text-color);
    border-radius: 40px;
    padding: 30px 68px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.button:hover {
    opacity: 0.7;
}

/* Page */

.page {
    height: 100%;
}

.page__body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-text-color);
}

.page__wrapper {
    
}

/* page-header */

.page-header {

}

/* main-nav */

.main-nav {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 22px 0;
}

.main-nav__wrapper {
    width: 100%;
    border-top: 1px solid var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);;
  
}

.main-nav__logo {
    position: absolute;       
    right: 50%;
    transform: translateX(50%);
    padding: 10px;
}

.main-nav__logo:hover {
    opacity: 0.7;
}

.main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    margin: 22px 0px;
}


/* site-list */

.site-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-nav__list .site-list__item:nth-child(3) {
    margin-right: 100px;
} 

.site-list__link {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.site-list__link:hover::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid var(--main-text-color);
    width: 100%;
    bottom: -10px;
    left: 0px;
}

/* page-main */ 

.page-main {
    padding-top: 20px;
}

/* intro */ 

.intro {
    background-image: url(img/intro_roses.jpg), url(img/intro_tulips.jpg);
    background-repeat: no-repeat;
    background-position: right 40px, 405px 98px;
    padding-top: 10px;
}

.intro__text-container {
    width: 384px;
}

.intro__title {
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    margin-bottom: 25px;
}

.intro__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 62px;
}

.intro__button {

}

.intro__advantages {
    padding-top: 150px;
}

/* advantages */ 

.advantages {

}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 90px;
}

.advantages__item {
    padding-left: 15px;
}

.advantages__sub-title {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
}

.advantages__sub-title--car::before {
    content: "";
    position: absolute;
    background-image: url(img/advantages-order_auto.svg);
    background-repeat: no-repeat;
    width: 82px;
    height: 52px;
    left: -105px;
}

.advantages__sub-title--flowers::before {
    content: "";
    position: absolute;
    background-image: url(img/advantages_bouquet.svg);
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    left: -70px;
}

.advantages__sub-title--photo::before {
    content: "";
    position: absolute;
    background-image: url(img/advantages_photo.svg);
    background-repeat: no-repeat;
    width: 58px;
    height: 52px;
    left: -75px;
}

.advantages__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

/* slider */

.slider {
    width: 795px;
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 35px;
}

.slider__title {
    text-align: center;
    font-family: var(--accent-font);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-left: 18px;
}

.slider__card {
    display: flex;
    margin-bottom: 20px;
}

.slider__text {

}

.slider__sub-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
}

.slider__desc {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 22px;
}

.slider__size {
    font-size: 16px;
    line-height: 20px;
}

.slider__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 62px;
}

.slider__button {
    padding: 30px 106px;
}
.slider__img {

}

.slider__scroll {

}

/* scroll */

.scroll {
    width: 150px;
    margin: 0 auto;
}

.scroll__button {
    border: none;
    background-color: white;
    padding: 0 10px;
}

.scroll__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* catalog */

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 19px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.catalog__card {
    text-align: center;
}

.catalog__card:hover {
    opacity: 0.7;
}

.catalog__link {
    text-decoration: none;
    color: var(--contrast-text-color);
    display: inline-block;
    height: 443px;
    width: 387px;
}

.catalog__link--wedding {
    display: inline-block;
    background-image: url(img/catalog_banner.svg),url(img/catalog_wedding.jpg);
    background-repeat: no-repeat;
}

.catalog__link--pions {    
    background-image: url(img/catalog_banner.svg),url(img/catalog_pions.jpg);
    background-repeat: no-repeat;
    height: 443px;    
}

.catalog__link--choose {    
    background-image: url(img/catalog_banner.svg),url(img/catalog_bouquet.jpg);
    background-repeat: no-repeat;
    height: 443px;
}

.catalog__sub-title {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-top: 182px;
    margin-bottom: 8px;
}

.catalog__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

/* bonus */

.bonus {
    background-color: #AE7C78;
    background-image: url(img/bonus_bouquet.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 391px;
}

.bonus__text {
    width: 500px;
    color: var(--contrast-text-color);
    padding-top: 40px;
    padding-left: 102px;
}

.bonus__title {
    font-family: var(--accent-font);
    font-weight: normal;
    letter-spacing: 0.02em;
    font-size: 44px;
    line-height: 59px;
    margin: 0; 
}

.bonus__desc {
    font-size: 24px;
    line-height: 29px;
}

/* order */

.order {
    text-align: center;
    padding-top: 50px;
}

.order__title {
    font-family: var(--accent-font);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.order__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

.order__item {

}

.order__sub-title--choise,
.order__sub-title--call,
.order__sub-title--pay,
.order__sub-title--delivery {
    position: relative;
}


.order__sub-title--choise::before {
    position: absolute;
    content: '';
    height: 52px;
    width: 67px;
    background-image: url(img/order_device.svg);
    background-repeat: no-repeat;
    top: -60px;
    left: 110px;
}

.order__sub-title--call::before {
    position: absolute;
    content: '';
    height: 52px;
    width: 38px;
    background-image: url(img/order_manager.svg);
    background-repeat: no-repeat;
    top: -60px;
    left: 120px;
}

.order__sub-title--pay::before {
    position: absolute;
    content: '';
    height: 52px;
    width: 70px;
    background-image: url(img/order_paycard.svg);
    background-repeat: no-repeat;
    top: -60px;
    left: 100px;
}

.order__sub-title--delivery::before {
    position: absolute;
    content: '';
    height: 52px;
    width: 83px;
    background-image: url(img/advantages-order_auto.svg);
    background-repeat: no-repeat;
    top: -60px;
} 

.order__sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.order__sub-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
}

/* news */

.news{
    background-image: url(img/news_1st-bouquet.jpg), url(img/news_2-bouquet.jpg), url(img/news_3d-bouquet.jpg);
    background-repeat: no-repeat;
    background-position: 505px 60px, 505px 300px,right 60px;
    padding-bottom: 150px;
    padding-top: 95px;
}

.news__title {

}

.news__text {
    width: 387px;
}

.news__sub-title {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.news__sub-text {
    font-size: 24px;
    line-height: 29px;
}

.news__social-list {
    margin-top: 45px;
}

/* social-list */

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 98px;
    justify-content: space-between;
}

.social-list__item {

}

.social-list__link {

}

.social-list__icon {
    fill: #D89999
}

/* review */

.review {
    text-align: center;
    border: 1px solid var(--main-text-color);
    margin-top: 15px;
    padding-bottom: 40px;
}

.review__title {
    font-family: var(--accent-font);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-top: 40px;
}

.review__list {
    list-style: none;
    margin: 0;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    font-size: 16px;
    line-height: 20px;
}

.review__item {

}

.review__text {
}

.review__author {
    font-weight: 500;
}

/* page-footer */

.page-footer {
    padding-top: 80px;
}

/* map */

.map {
    height: 644px;
    background-image: url(img/map.png);
    background-repeat: no-repeat;
}

.map__card {
    
}

/* contacts */

.contacts {
    position: absolute;
    background-color: #ffffff;
    top: -580px;
    left: 55px;
    padding: 10px 108px 50px 35px;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
}

.contacts__title {
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.contacts__sub-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.contacts__sub-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.contacts__address {
    font-style: normal;
    font-weight: 500;
}

.contacts__phone {
    color: var(--main-text-color);
    font-weight: 500;
}

.contacts__mail {
    color: var(--main-text-color);
    font-weight: 500;
}

/* footer-nav */

.footer-nav {
    background-color: #AE7C78;
    
    font-size: 16px;
    line-height: 20px;
    color: var(--contrast-text-color);
}

.footer-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
}
.footer-nav__logo {

}

.footer-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    padding: 0 40px;
}

.footer-nav .site-list__link:hover::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid var(--contrast-text-color);
    width: 100%;
    bottom: -10px;
    left: 0px;
}
.footer-nav__social-list {

}

/* logo */

.logo {

}

.logo__img {

}
